&i2c0 {
    status = "okay";

    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    tc74sensor: tc74sensor@48 {
        compatible = "i2c-device";
        reg = <0x48>;
        status = "okay";
    };
};
